.banner{
    background-color: #000;
    margin-top: 3.5rem;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.banner__heading{
    color: var(--second-color);
    font-size: var(--mb-5);
    text-align: center;
}
.banner__heading-description{
    display: block;
    font-size: var(--mb-3);
    font-weight: 100;
    padding-top: var(--mb-5);
}

.section__title{
    margin-top: var(--mb-1);
    font-size: 27px;
    color: #222222;
}
.section__title:hover{
    color: var(--second-color);
    opacity: 0.8;
}
.section__article{  
    border-bottom: 1px dashed #dad8d8; 
    margin-bottom: 24px; 
}
.section__wrap{
    padding: var(--mb-4) 0;
   
}
.section__description{
    display: flex;
    line-height: 35px;
    font-size: 20px;
    color: #131313;
    font-weight: 300;
}
.section__img{
    width: 140px;
    margin-right: var(--mb-4);
    border-radius: var(--mb-1); 
}


/* layout */
.bd-grid{
    max-width: 750px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin : 0 auto;
}
h4{
    text-align: center;
    margin: 0 0 var(--mb2) 0;
    font-size: 13px;
    
}
h4 a{
    text-decoration: underline;
    color: red;
   
}

@media screen and (max-width : 768px){
      
    .section__description{
        display: inline;    
        line-height: 25px;
        font-size: 16px;
        color: #131313;
    }
    .section__img{
        float: left;
        margin-right: 16px;
        width: 100px;
        height: 79px;
    }
    .section__title{
        margin-top: var(--mb-2);
    }
    
}
#title{
    width: 500px;
}
#list{
    padding-left: var(--mb-6);
    font-size: 15px;
}
#list a{
    padding: 3px 0;
    text-decoration: underline;
}