:root{
    --first-color : #000;
    --header-height: 3.5rem;
    --font-semi: 600;
    --font-medium: 700;
    --second-color: #e00000;
    --three-color: #3d3c3c;
    --body-font : 'Roboto', serif;
    --big-fontsize : 2rem;
    --h2-fontsize : 1.12rem;
    --normal-fontsize: 0.938rem;

    --mb-1: 0.5rem; /*8*/
    --mb-2: 1rem;   /*16*/
    --mb-3: 1.5rem; /*24*/
    --mb-4: 2rem;   /*32*/
    --mb-5: 2.5rem; /*40*/
    --mb-6: 3rem;   /*48*/
    
}
@media screen and (min-width : 768px){
    :root{
        --big-fontsize : 3.5rem;
        --h2-fontsize : 2rem;
        --normal-fontsize: 1.25rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-fontsize);
    color: var(--three-color);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
a{
    text-decoration: none;
   
    display: block;
}

.code{
    color: var(--second-color);
}
.ul{
    list-style: disc;
    padding-left: var(--mb-3);
    margin-left: var(--mb-5);
    font-size: var(--mb-2);
}
.ul li{
    padding: 5px 0;
}
@media screen and (max-width : 768px){
    .ul{
        margin-left: 0;
    }
}